body {
    // font-family: "Montserrat", sans-serif;
    height: 100vh;

    p {
        color: rgba(0, 0, 0, 0.9);
        margin: 0 0 16px 0;
    }

    // button {
    //     text-transform: uppercase;
    // }

    h2 {
        font-size: clamp(12px, 5vw, 30px);
    }

    h1 {
        font-size: clamp(14px, 5vw, 36px);
    }
}